In [20]:
import pandas as pd
import openai

csv_file = './dataset_student_enrolled.csv'
df = pd.read_csv(csv_file)

In [21]:
# Count the number of examples in the dataset
count_datasets = len(df)
print(f"Number of examples: {count_datasets}")

# Select only the 'Name' and 'Phone' columns
selected_columns = ['Name', 'Phone']
new_df = df[selected_columns]

# Display the new DataFrame
print(new_df)

Number of examples: 55
                         Name             Phone
Samantha Johnson           35    456 Elm Street
Michael Smith              42  789 Maple Avenue
Emily Brown                29      567 Oak Road
David Wilson               48     678 Pine Lane
Olivia Taylor              25  789 Cedar Street
Ethan Martinez             31  890 Birch Avenue
Ava Anderson               38  123 Willow Drive
Liam Johnson               22    234 Elm Street
Sophia Williams            27      456 Oak Road
Noah Davis                 36     678 Pine Lane
Nonthachai Plodthong       28       123 YongeSt
Samantha Johnson           35    456 Elm Street
Michael Smith              42  789 Maple Avenue
Emily Brown                29      567 Oak Road
David Wilson               48     678 Pine Lane
Olivia Taylor              25  789 Cedar Street
Ethan Martinez             31  890 Birch Avenue
Ava Anderson               38  123 Willow Drive
Liam Johnson               22    234 Elm Street
Sophia Williams            27      456 Oak Road
Noah Davis                 36     678 Pine Lane
Emma Jones                 32  890 Maple Avenue
Jacob Brown                29      123 Oak Road
Isabella Martinez          31     234 Pine Lane
William Taylor             25  567 Cedar Street
Ava Johnson                22  678 Birch Avenue
James Anderson             38  789 Willow Drive
Sophia Garcia              27    890 Elm Street
Benjamin Davis             36  123 Maple Avenue
Mia Wilson                 48      234 Oak Road
Liam Martinez              31     567 Pine Lane
Sophia Taylor              25  789 Cedar Street
Noah Brown                 29      890 Oak Road
Ava Wilson                 22     123 Pine Lane
Emma Johnson               38  234 Willow Drive
Liam Davis                 36    456 Elm Street
Pimchanok Srisawat         22    456 Elm Street
Kittisak Wongwiwat         31  789 Maple Avenue
Areeya Rattanakosin        26      567 Oak Road
Natthapon Chaiyamongkol    35     678 Pine Lane
Saranya Jitpraphai         29  789 Cedar Street
Wutthichai Thongyai        24  890 Birch Avenue
Kasem Suntornkij           37  123 Willow Drive
Pannarai Anusorn           30    234 Elm Street
Chalita Saengdee           28      456 Oak Road
Taweesak Somchai           33    123 Elm Street
Supansa Boonmee            27  456 Maple Avenue
Somchai Jaiyen             29      567 Oak Road
Natthapong Phongphet       25     678 Pine Lane
Kanya Rattanakosin         24  789 Cedar Street
Sutthichai Wongwiwat       38  890 Birch Avenue
Sarawut Thongyai           22  123 Willow Drive
Pannika Anusorn            26    234 Elm Street
Akarin Suntornkij          31      456 Oak Road
Preeyanuch Saengdee        29     678 Pine Lane

In [23]:
labels = df['Name'].tolist()
texts = [f"{phone},{email}" for phone, email in zip(df['Phone'], df['Email'])]
new_dataset = pd.DataFrame(zip(labels, texts), columns=['prompt', 'completion'])

print(new_dataset.head())

   prompt                                  completion
0      35      456 Elm Street,sam.johnson@example.com
1      42  789 Maple Avenue,michael.smith@example.com
2      29        567 Oak Road,emily.brown@example.com
3      48      678 Pine Lane,david.wilson@example.com
4      25  789 Cedar Street,olivia.taylor@example.com